<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        textarea {
            display: block;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Challenge</title>
</head>
<body>
    <div id="container">
        <div id="new-prompt">
            <h1 id="title">Discourse with OpenAI</h1>
            <span id="error">
                <p></p>
            </span>
            <div>
                <textarea id="desc" placeholder="Enter a new prompt here..."></textarea>
            </div>
            <button id="send">Send</button>
        </div>
        <section class="bottom-wrapper">
            <h1 id="sub-title">Responses</h1>
            <ul id="response-list"></ul>
        </section>
    </div>
    <script type="module" src="../js/index.js"></script>
</body>
</html>