body {
    background-image: url(/geissht-BzS6WjI6IhY-unsplash.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

#container {
    position: relative;
    margin: 2em auto;
    width: 800px;
    max-width: 80%;
}

#send {
    background-color: #ECB265;
}

#send:hover {
background-color: #ecb165a7;
}

button {
    background-color: #009999;
    /* Green */
    border: none;
    color: white;
    padding: 0.5em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    width: 20%;
}

#new-prompt {
    padding-bottom: 70px;
}

#new-prompt div{
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.171);
}

#desc {
    list-style: none;
    border: 1px solid #dfdfdf;
    width: 100%;
    min-height: 4em;
    clear: both;
    font-size: 15px;
    line-height: 1.5em !important;
    margin: 0px 7px 7px auto;
    padding: 25px 20px 40px;
}

ul {
    position: relative;
    margin-top: 0;
}

li {
    list-style: none;
    border: 1px solid #dfdfdf;
    width: 100%;
    min-height: 4em;
    clear: both;
    font-size: 15px;
    line-height: 1.5em !important;
    margin: 5px auto;
    padding: 25px 20px 40px;
}

li span {
    margin-top: 0.5em;
    width: 80%;
}